Tutorials/04_DHT_over_MQTT/DHT-Demo.json
[
    {
        "id": "a59666bcbc3426a9",
        "type": "tab",
        "label": "DHT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fd87706b85303dd",
        "type": "mqtt-broker",
        "name": "This",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "helloworld/answer",
        "birthQos": "0",
        "birthPayload": "asdöflkjasdöfjk",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "401abda7e32d0201",
        "type": "ui_group",
        "name": "DHT Sensor",
        "tab": "c7346bf03150e5fd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7346bf03150e5fd",
        "type": "ui_tab",
        "name": "DHT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8adc3b8b7adff9b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c1d14cc310b2faf0",
        "type": "mqtt in",
        "z": "a59666bcbc3426a9",
        "name": "",
        "topic": "dht/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "1fd87706b85303dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "06e65830e7945096"
            ]
        ]
    },
    {
        "id": "1b8bc584bafce821",
        "type": "mqtt in",
        "z": "a59666bcbc3426a9",
        "name": "",
        "topic": "dht/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "1fd87706b85303dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "0742a077b439bb53"
            ]
        ]
    },
    {
        "id": "0742a077b439bb53",
        "type": "smooth",
        "z": "a59666bcbc3426a9",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "5cee7299c7f7bf0e"
            ]
        ]
    },
    {
        "id": "5cee7299c7f7bf0e",
        "type": "ui_chart",
        "z": "a59666bcbc3426a9",
        "name": "",
        "group": "401abda7e32d0201",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "06e65830e7945096",
        "type": "ui_gauge",
        "z": "a59666bcbc3426a9",
        "name": "",
        "group": "401abda7e32d0201",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "37",
        "colors": [
            "#0018b5",
            "#00e60a",
            "#ca1800"
        ],
        "seg1": "19",
        "seg2": "22",
        "className": "",
        "x": 370,
        "y": 40,
        "wires": []
    }
]